@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --main: #d075ec;
    --background: #2e2f36;
    --on-main: rgb(160, 0, 210)
}
* {
    margin: 0 auto;
    padding: 0;
}
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    display: grid;
    background-color: var(--main);
    height: 70px;
    place-items: center;
    place-content: center;
    border-bottom: 2.5px solid black;
}
.pseudo {
    position: absolute;
    text-transform: uppercase;
    text-shadow: -2px -2px 0 var(--background), 2px -2px 0 var(--background), -2px 2px 0 var(--background), 2px 2px 0 var(--background);
}
.discord {
    display: inline-block;
    text-decoration: underline;
    margin-left: 205px;
}
.github {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin-right: 220px;
}
.discord:hover, .github:hover {
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
.contcode {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    background-color: var(--background);
    color: var(--main);
    margin-top: 80px;
    margin-left: 10px;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    box-shadow: 7px 7px #d075ec;
    transition: 0.3s;
}
.contcode:hover {
    box-shadow: 7px 7px var(--background);
    background-color: #d075ec;
    color: var(--background);
    cursor: pointer;
    transition: 0.3s;
}
.bigcont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    place-items: center;
}
svg {
    height: 40px;
    width: 40px;
    filter: drop-shadow(4px 3px 0px var(--background));
    transition: 0.1s;
}
svg g {
    fill: var(--on-main);
    transition: 0.1s;
}
svg:hover g, svg:hover {
    fill: var(--background);
    filter: drop-shadow(4px 3px 0px var(--on-main));
    transition: 0.2s;
}
.pro {
    text-shadow: -1px -1px 0 var(--background), 1px -1px 0 var(--background), -1px 1px 0 var(--background), 1px 1px 0 var(--background);
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800%);
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: var(--main);
}
